services:
  
  client:
    build:
      context: ./client
      target: dev
    volumes:
      - ./client:/app
      - /app/node_modules # keep container node_modules, don't use host
      - /root/.local/share/pnpm/store # preserve pnpm store
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  backend:
    build:
      context: ./server
      target: dev
    ports:
      - "3001:3001"
    volumes:
      - ./server:/app
      - /app/tmp

  voidauth: 
    image: voidauth/voidauth:latest
    restart: unless-stopped
    volumes:
      - ../.offline-notion-volumes/voidauth/config:/app/config
      - ../.offline-notion-volumes/voidauth/db:/app/db
    ports:
      - "3002:3000"

volumes:
  database_dev:
    driver: local
