services:
  
  client:
    build:
      context: ./client
      target: prod
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    depends_on:
      - voidauth
      - backend

  backend:
    build:
      context: ./server
      target: prod
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      
  voidauth: 
    image: voidauth/voidauth:latest
    restart: unless-stopped
    volumes:
      - ./.volumes/voidauth/config:/app/config
      - ./.volumes/voidauth/db:/app/db
    environment:
      # Required environment variables
      APP_URL: # required, ex. https://auth.example.com
      STORAGE_KEY: # required
      DB_ADAPTER: sqlite

volumes:
  database:
    driver: local
