{
	auto_https off
}

http://{$NOTION_HOSTNAME} {
	redir //v1.{$NOTION_HOSTNAME}{uri} 301
}

http://v1.{$NOTION_HOSTNAME} {
    handle_path /api/* {
        reverse_proxy backend:3001
    }

    handle /auth {
        reverse_proxy voidauth:3000
    }
    
    handle /auth/* {
        reverse_proxy voidauth:3000
    }

    handle {
        reverse_proxy client:3000
    }
}
