name: 'Build and Deploy'
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  repository_dispatch:

jobs:
  build-prod:
    name: 'Check Build (Prod)'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build (prod)
        run: docker compose -f docker-compose.yml build

  build-dev:
    name: 'Check Build (Dev)'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build (dev)
        run: docker compose -f docker-compose.yml -f docker-compose.dev.yml build