name: 'Build and Deploy'
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  repository_dispatch:
  
jobs:
  run:
    name: 'Build & Deploy Frontend'
    runs-on: 'ubuntu-latest'
    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        
    - name: Install CLI Dependencies
      run: npm i -g pnpm
    
    - name: Install & Build
      run: cd client && pnpm install && pnpm run build