name: 'Build and Deploy'
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  repository_dispatch:
  
jobs:
  run:
    name: 'Check Build (Prod)'
    runs-on: 'ubuntu-latest'
    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Build (prod)
      run: docker compose build -f docker-compose.yml
      
  run:
    name: 'Check Build (Dev)'
    runs-on: 'ubuntu-latest'
    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Build (dev)
      run: docker compose build -f docker-compose.yml -f docker-compose.dev.yml